body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
      circle at 10% 20%,
      rgb(255, 246, 236) 39.5%,
      rgba(100, 46, 122, 0.23) 100.2%
    )
    fixed;
}
.App {
  max-width: 800px;
  margin-top: 70px;
}
footer {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #870000;
}
